<!DOCTYPE html>
<html>
<head>
  <title>Stok</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

	<nav class="navbar-inverse">
		<p class="">
		  	<ul">
				<li><%= link_to "Stok", root_path %></li>
		  		
		  		<% if user_signed_in? %>
			  		<li><%= link_to "New Material", new_material_path %> </li>
			  		<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
			  	<% else %>
			  		<li><%= link_to "Join!", new_user_registration_path%> </li>
			  		<li><%= link_to "Sign In", new_user_session_path %> </li>
			  	<% end %>
		  	</ul>
		</p>
	</nav>

	<%= yield %>

</body>
</html>